* {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: #f5f5f5;
    background-color: #999;
    padding: 20px;
}

.logo_shapka {
    order: 1;
    display: flex;
    flex-direction: row;
}

#logo {
    float: left;
    width: 15%;
    height: 15%;
    flex-grow: 1;
}

#shapka {
    color: #ffd23d;
    text-align: right;
    flex-grow: 4;
    font-size: 5.5vw;
    margin: 6% 0% 6% 0%;
}

/* 
.title {
    font-size: 25px;
    padding-top: 10px;
    text-align: right;
    flex-grow: 4;
}
*/

.menu {
    list-style: none;
    top: 55px;
    right: 40px;
    font-size: 5.5vw;
    order: 2;
    text-align: left;

}

a.men {
    color: #ffd23d;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff9e4;
    padding: 20px;
}

#link {
    color: rgb(99, 0, 0);
    text-decoration: underline;
}

.text_nav {
    order: 2;
}

.text {
    max-width: 960px;
    margin: 0 auto;
}

nav {
    max-width: 960px;
    margin: 0 auto;

}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

#content {
    max-width: 960px;
    margin: 0 auto;
}

p {
    font-size: 22px;
}

video {
    height: 200%;
    width: 100%;
}










table {
    color: #1c1717;
    border: 3px solid #1c1717;
    height: 50%;
    width: 700%;
    font-size: 0.9rem;
    max-width: 960px;
    margin: 0 auto;
    order: 1;
}

table,
th,
td {
    border: 1px solid #3e3e3e;

}

table th,
table td {
    padding: 10px;
    border: 1px solid #ccc;
}

#zag {
    text-align: center;
}

.nechet {
    color: #000000;
    background-color: rgba(255, 248, 148, 0.89);

}

.chet {
    color: #000000;
    background-color: rgb(185, 185, 185);
}

form {
    max-width: 960px;
    margin: 0 auto;
    order: 3;
}


#ff {
    order: 3;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: #c29f2e;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}