#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

body {
    background-image: url('kinou.png');
    background-size: auto;
    background-color: rgb(0, 0, 0);
}

.image-group {
    padding: 60px;
    height: 600px;
    width: 300px;
    display: flex;
    justify-content: center;
}

#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#pager {
    font-family: Arial;
    font-size: 30px;
    color: white;
    margin-top: 50px;
    text-align: center;
}

#prev img,
#next img {
    width: 75px;
    height: 75px;
}
